body {
	overflow-wrap: break-word;
	font-family: sans-serif;
	font-size: 11pt;
}

main {
	max-width: 48em;
	margin: 0em auto;
}

details {
	border-left: .25rem solid gray;
	padding-left: .25rem;
}

summary {
	list-style: none;
	cursor: pointer;
}

fieldset {
	display: inline-block;
	padding: 0;
	margin: .25rem 0rem;
	border: none;
}

legend {
	padding: 0;
}

button {
	background-color: inherit;
	border: 1px solid black;
	margin: .15em;
	padding: .1em .33em;
	cursor: pointer;
	text-align: left;
}

button:hover {
	background-color: black;
	color: white;
}

input[type="text"] {
	box-sizing: border-box;

	width: 100%;

	font-family: inherit;
	font-size: inherit;

	margin: .3rem 0rem;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + div {
	background-color: inherit;
	border: 1px solid white;
	outline: 1px solid black;
	margin: .15em;
	padding: .1em .33em;
	cursor: pointer;
	text-align: left;
	display: inline-block;
}

input[type="radio"]:hover + div, input[type="radio"]:checked + div {
	background-color: black;
	color: white;
}

table {
	font-family: monospace;
	font-size: 10pt;
}

td {
	padding-right: 2rem;
}

hr {
	border: 1px solid black;
}

h3 {
	margin: 0em;
}

a {
	text-decoration-style: dotted;
}

a:hover {
	text-decoration: underline;
}

.query_stats {
	padding: 1rem 0rem .25rem;
}

.tokens {
	color: gray;
	border-left: .25rem solid gray;
	padding-left: .25rem;
}

details.advanced {
	border-left: .25rem solid #DB9216;
	padding-left: .25rem;
}

.advanced summary {
	color: gray;
}

form h3 {
	margin: .5rem 0rem;
}

.search_results details {
	border-top: 1px dotted slategray;
	border-left: .25rem solid #DB9216;
	padding: .25rem;
}

.search_results details:nth-of-type(2n) {
	border-color: slategray;
}

.search_results summary {
	font-size: 12pt;
	position: relative;
	padding-right: 1em;
}

.search_results details[open] summary::after {
	content: "▵";
}

.search_results summary::after {
	position: absolute;
	right: 0px;
	top: -8pt;
	content: "▿";
	font-size: 20pt;
	color: slategray;
}

.stray {
	color: darkred;
}

.flr {
	float: right;
}

.hide {
	display: none;
}

.clickable {
	cursor: pointer;
}

.log {
	position: fixed;
	bottom: 0px;
	right: 0px;

	background-color: black;
	color: white;

	opacity: 0.5;
}

.log_hide::after {
	content: "↓";
	padding: .2rem;
}

.log_hide:hover::after {
	content: unset;
}

.log_hide > * {
	display: none;
}

.log_hide:hover > * {
	display: table-row;
}
