body {
	overflow-wrap: break-word;
	font-family: sans-serif;
	font-size: 11pt;
}

main {
	max-width: 48em;
	margin: 0em auto;
}

details {
	border-top: dotted;
	border-width: 1px;
	margin-bottom: .1em;
}

summary {
	font-size: 12pt;
	cursor: pointer;
	position: relative;
	padding-right: 1em;
}

summary::marker {
	content: none;
}

summary::after {
	position: absolute;
	right: 0px;
	top: -8pt;
	content: "▿";
	font-size: 20pt;
}

details[open] summary::after {
	content: "▵";
}

button {
	background-color: inherit;
	border: 1px solid black;
	margin: .15em;
	padding: .1em .33em;
	cursor: pointer;
	text-align: left;
}

button:hover {
	background-color: black;
	color: white;
}

input {
	box-sizing: border-box;

	width: 100%;

	font-family: inherit;
	font-size: inherit;
}

table {
	font-family: monospace;
	font-size: 10pt;
}

td {
	padding-right: 2em;
}

hr {
	border: 1px solid black;
}

h3 {
	margin: 0em;
}

a {
	text-decoration-style: dotted;
}

a:hover {
	text-decoration: underline;
}

.search_result {
	line-height: 1.25;
}

.breakdown {
	color: gray;
}

.stray {
	color: darkred;
}

.flr {
	float: right;
}

.hide {
	display: none;
}

.clickable {
	cursor: pointer;
}
